/**
 * styles.css
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#top
{
    /* surround with whitespace */
    margin-bottom: 15px;
    margin-top: 15px;
}

#top .nav
{
    /* center navigation pills */
    display: inline-block;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

table, th
{
    text-align : center;
}
#peach_dropzone_area
{
    border-style: dashed;
    border-color: #ffab00;
}


/* carousel.css
*/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
/* end of carousel styling*/

.dress-container {
  display:flex;
  justify-content:center;
  align-items:center;
  width: 100%;
  height: 70%;
  
}
.dress-container img {
    min-width:100%;
    min-height:100%
}

.user-fav {
    font-size:25px;
    color: white;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

.user-favourited {
    font-size: 25px;
    color: #ED4956;
    text-shadow: -1px 0 #ED4956, 0 1px #ED4956, 1px 0 #ED4956, 0 -1px #ED4956;
}

.user-added-cart {
    font-size: 25px;
    color: #ffab00;
    text-shadow: -1px 0 #FFCC6F, 0 1px #FFCC6F, 1px 0 #FFCC6F, 0 -1px #FFCC6F;
}

.user-cart {
    font-size: 25px;
    color: white;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

#favourite {
    font-size: 20px;

}

#cart {
    font-size: 20px;

}

.tab-content>.tab-pane{
    display:block;
    visibility:hidden;
    height:40px;
}

.tab-content>.active{
    visibility:visible;
}

.modal-header {
    padding-top: 10px; 
    padding-left: 15px; 
    padding-right: 15px; 
    padding-bottom: 10px;
}

/* modal header*/
/*overwriting padding-right (= 0px) to make consultant name closer to img*/
.mh-tn {
  
  padding-right:0px;
  
}
.mh-tn > img{
  width:100%; 
  height:auto;
  
}

/* consultant name font size and text alignment*/
.mh-cn {
  text-align: left; 
  font-size:130%;
}

.tn {
  margin:0px 0px 15px 0px;
  height:85px;
  width: 60%;
  
}

/*end of modal header styling/


/*modal dialog*/
.modal-dialog {
  
  margin-bottom:60px;
  
}
